---

---

<div class="region" id="benefits">
  <div class="wrapper flow prose" style="--flow-space: var(--space-l);">
    <h2 class="uppercase">Kids BJJ Program</h2>
    <p>Get confident, get active, and have fun!</p>
    <div
      class="grid text-center"
      data-layout="50-50"
      style="--grid-min-item-size: 250px;"
    >
      <div
        class="box flow prose clip-right"
        style="--spot-color: var(--gray200);"
      >
        <h2 class="uppercase">Confidence Building</h2>
        <p>
          At the heart of our program, Jiu Jitsu serves as a powerful instrument
          to bolster confidence in our children. Through structured training,
          they not only refine their physical skills but also discover an inner
          strength, allowing them to approach challenges with self-assurance and
          determination.
        </p>
      </div>
      <div
        class="box flow prose clip-right"
        style="--spot-color: var(--gray200);"
      >
        <h2 class="uppercase">Respect</h2>
        <p>
          Beyond the physical techniques, Jiu Jitsu offers a rich environment
          for children to connect and interact, fostering valuable social
          skills. As they train together, they not only learn the importance of
          teamwork and mutual support but are also imbued with the discipline's
          emphasis on respect — for the art, the instructor, and fellow
          practitioners. Our teachings ensure that children treat everyone with
          kindness and understanding, creating bonds that extend well beyond the
          mat.
        </p>
      </div>
      <div
        class="box flow prose clip-right"
        style="--spot-color: var(--gray200);"
      >
        <h2 class="uppercase">Overcoming Adversity</h2>
        <p>
          Life is filled with challenges, and through Jiu Jitsu, our children
          learn the art of resilience. They're trained to face setbacks,
          understand their nature, and push forward with perseverance. Each
          session equips them with the tools and mindset to overcome adversity
          with grace and determination.
        </p>
      </div>
    </div>
  </div>
</div>
