---
import { Picture } from '@astrojs/image/components';
import footerImg from '../assets/geo-specific-footer-kids.jpg';
import logo from '../assets/bones-jiu-jitsu-logo-clifton-nj-jiu-jitsu.png';
---

<footer class="region" style="background: var(--gray1200)">
  <div class="wrapper">
    <div class="grid items-center text-center" style="--gap: var(--space-l);">
      <div class="flow">
        <a href="#">
          <Picture
            src={logo}
            widths={[520, 700, 406]}
            aspectRatio={406 / 235}
            width={406}
            height={235}
            class="object-contain h-auto"
            alt="Bones Jiu Jitsu Logo"
            quality={80}
            format="avif"
          />
        </a>
      </div>
      <div class="flow">
        <Picture
          src={footerImg}
          widths={[520, 700, 3863]}
          aspectRatio={3863 / 1863}
          width={3863}
          height={1863}
          class="object-contain h-auto"
          alt="Kids at the Bergan County Premier Jiu Jitsu Academy"
          quality={80}
          format="avif"
        />
      </div>
      <div class="flow center">
        <h2 class="uppercase">Contact Us</h2>
        <p>247 Crooks Ave, <br />Clifton, NJ 07011</p>
        <p><a href="+tel=2012923641">201-292-3641</a></p>
        <p>
          Email us at <a href="mailto:bonesjiujitsu@gmail.com"
            >bonesjiujitsu@gmail.com</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
