---
import { Picture } from '@astrojs/image/components';
import logo from '../assets/bones-jiu-jitsu-logo-clifton-nj-jiu-jitsu.png';
---

<header
  class="cluster box text-center justify-between"
  style="background-color: var(--gray1200);"
>
  <a href="/" style="line-height: 0;">
    <Picture
      src={logo}
      widths={[520, 700, 406]}
      aspectRatio={406 / 235}
      width={406}
      height={235}
      class="object-contain"
      style="max-height: var(--step-6);"
      alt="Bones Jiu Jitsu Logo"
      quality={80}
      format="avif"
    />
  </a>
  <nav>
    <ul
      role="list"
      class="cluster justify-center font-weight-emphasis font-display uppercase"
      style="--gap: var(--space-l);"
    >
      <li class="button"><a href="#contact">Join us</a></li>
      <li class="button"><a href="#benefits">Benefits</a></li>
    </ul>
  </nav>
</header>
