---
import { Picture } from '@astrojs/image/components';
import instructorImg from '../assets/devhonte-bones-johnson-jiu-jitsu.jpg';
---

<div
  class="grid"
  data-layout="50-50"
  style="--gap: 0; --spot-color: var(--gray200);"
  id="main"
>
  <div class="box flow prose" id="instructor">
    <h2 class="uppercase">Our Head Instructor</h2>
    <p>
      Under the expert guidance of Professor Murilo Santana at Unity Jiu Jitsu,
      Devhonte 'Bones' Johnson has honed his skills to perfection, achieving the
      distinguished black belt status. His accolades, including the World, Pan
      American, and European titles, are a testament to his deep understanding
      and mastery of the sport. From his initial steps with Coach Edson Carvalho
      to the advanced techniques imbibed from Professor Santana, Devhonte's
      journey in Jiu Jitsu is a reflection of dedication, learning, and
      evolution.
    </p>

    <p>
      Originating from the vibrant sports arenas of Paterson, New Jersey,
      Devhonte's life took a serendipitous turn in his senior year. From the
      basketball courts and baseball fields of Eastside High School, he found
      himself captivated by the intricate and empowering world of Jiu Jitsu.
      This newfound passion wasn't just a hobby but a calling, a quest that led
      him from Coach Carvalho's initial teachings to the esteemed doorsteps of
      Unity Jiu Jitsu in New York City.
    </p>

    <p>
      Devhonte isn't just a practitioner; he's a leader, shaping the future of
      the sport. Recognizing his prowess and potential, he was not only
      entrusted with teaching roles early in his career but also found himself
      at the helm of a growing demand for his expertise. Answering this call, he
      founded the Bones Brazilian Jiu Jitsu Academy in Clifton, New Jersey in
      2020. A space not just for training, but for molding the next generation
      of Jiu Jitsu champions, under the guidance of a true maestro. Experience
      the harmonious blend of wisdom, exploration, and leadership at Bones
      Academy.
    </p>
  </div>
  <Picture
    src={instructorImg}
    widths={[500, 662]}
    aspectRatio={662 / 969}
    width={662}
    height={969}
    class="object-contain h-auto"
    alt="Devhonte 'Bones' Johnson Bergan County Jiu Jitsu Kids Academy instructor"
    quality={80}
    format="avif"
  />
</div>
